nav
    box-sizing: border-box
    flex-grow: 1
    width: 30%
    text-align: center

li
    list-style-type: none
    margin-right: 30px
    padding: 5px
    margin-top: 5vh
    border-bottom: 2px solid rgb(25,25,25)
    transition: .3s
    font-family: 'Chakra Petch', sans-serif
    transform: translateY(2px)

a
    color: rgb(200,200,200)
    text-decoration: none

li:hover
    border-bottom: 2px solid rgb(150,150,150)
    cursor: pointer
    transform: translateY(-2px)