@media (max-width: 800px)
    .mainContent
        display: block
        order: 1
        width: 80vw
        position: absolute
        margin-left: 10vw
        margin-top: 32vh
        margin-bottom: 15vh
        
    
@media (min-width: 801px)
    .mainContent
        box-sizing: border-box
        flex-grow: 2
        padding: 30px
        padding-bottom: 15vh
        width: 70vw
        margin-right: 30vw
        height: auto
        margin-top: 20vh
        border-right: 1px solid rgb(50,50,50)