@media (max-width: 800px)
    .mainContent
        display: block
        order: 1
        width: 80vw
        position: absolute
        margin-left: 10vw
        margin-top: 32vh
        margin-bottom: 15vh

    .tech
        display: flex
        flex-wrap: wrap
        align-content: space-between
        width: 100vw
        margin: 0
        padding-right: 10vw

    .tech img
        flex-basis: 15vw
        margin: 5vw
        max-height: 100px
        max-width: 100px

    .TechInfo
        position: fixed
        display: block
        box-sizing: border-box
        top: 10vh
        left: 25vw
        height: 20vh
        width: 50vw
        background-color: red
        z-index: 10
        border-radius: 25px
        text-align: center
        padding: 20px
        
    
@media (min-width: 801px)
    .mainContent
        box-sizing: border-box
        flex-grow: 2
        padding: 30px
        padding-bottom: 15vh
        width: 70vw
        margin-right: 30vw
        height: auto
        margin-top: 20vh
        border-right: 1px solid rgb(50,50,50)