.tech
    display: flex
    flex-wrap: wrap
    width: 100%
    margin: 0
    justify-content: space-around

.tech img
    margin: 5%
    padding: 0
    max-height: 100px
    max-width: 100px

.spanStyle
    font-size: 0.7em
    display: block
    text-align: center
    width: 100%
    margin: 0
    padding: 0
    color: black

.spanStyle a
    color: black

.TechInfo img
    padding: 10px
    height: auto
    width: 40%

@media (max-width: 800px)
    .TechInfo
        position: fixed
        display: block
        box-sizing: border-box
        top: 10vh
        left: 30vw
        height: 20vh
        width: 40vw
        background-color: white
        z-index: 10
        border-radius: 50px
        text-align: center
        padding: 20px
        border: 1px solid white
        box-shadow: 10px 10px 20px rgb(50,50,50)
        color: black

    .techZero
        position: fixed
        height: 0
        width: 0
        top: 10vh
        left: 50vw
        transition: .3s
        z-index: 10

@media (min-width: 801px)
    .TechInfo
        position: fixed
        display: block
        box-sizing: border-box
        top: 70vh
        left: 5vw
        height: 20vh
        width: 20vw
        background-color: rgb(40, 40, 40)
        z-index: 10
        border-radius: 50px
        text-align: center
        padding: 20px
        border: 1px solid white
        box-shadow: 10px 10px 20px rgb(50,50,50)
        color: white
        transition: .4s

    .techZero
        position: fixed
        height: 0
        width: 0
        top: 70vh
        left: 5vw
        transition: .3s